{{>navbar}}
<div class='jumbotron p-5' data-id={{post.id}} id='post'>
  <h1 class='display-4'>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <small class="text-muted">{{post.name}} ~ {{format_date post.createdAt}}</small>
</div>
<ul class="list-group">
  <li class="list-group-item">Comments</li>
</ul>
{{#each comments as |comment|}}
  <div class='card'>
    <div class='card-body flex-row' id={{comment.id}}>
        <p>{{comment.content}}</p>
        <div class='d-flex justify-content-between'>
          <small class="text-muted">{{comment.name}} ~ {{format_date comment.createdAt}}</small>
          {{#if comment.owned}}
          <div class='btn-group col-12 col-sm-3' role='group'>
            <button
              type='button'
              class='btn btn-danger'
              data-delete = '{{comment.id}}'
              id='delete-{{comment.id}}'
            >delete</button>
        </div>
      {{/if}}
        </div>
        
    </div>
  </div>
{{/each}}

<ul class="list-group">
  <li class="list-group-item">Write New Comment</li>
</ul>
<div class='m-3'>
  <form>
    <div class='mb-3'>
      <label for='content' class='form-label'></label>
      <textarea class='form-control' id='content' rows='3'></textarea>
    </div>
    <input class='btn btn-primary' type='submit' value='Submit' id='comment' />
  </form>
  <script src='../js/comment.js'></script>
  <script src='../js/deletecomment.js'></script>
</div>